name: CI/CD Deploy Frontend

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup SSH Agent
        uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.DEPLOY_KEY }}

      - name: Add remote server to known_hosts
        run: ssh-keyscan -H 62.72.12.249 >> ~/.ssh/known_hosts

      - name: Deploy on VPS
        env:
          VITE_API_BASE_URL: ${{ secrets.VITE_API_BASE_URL }}
        run: |
          ssh -A deploy@62.72.12.249 "
            echo '>>> Testing SSH connection to GitHub (Should succeed)'
            ssh -T git@github.com

            echo '>>> Now attempting git fetch, ignoring server .ssh/config...'
            cd /home/deploy/app && \
            export GIT_SSH_COMMAND=\"ssh -v -F /dev/null -o IdentitiesOnly=yes\" && \
            git fetch origin main && \
            git reset --hard origin/main && \
            echo '>>> Building and starting Docker containers...' && \
            docker compose build --build-arg VITE_API_BASE_URL=${VITE_API_BASE_URL} && \
            docker compose up -d"
